<nav class="fixed z-10 p-4 lg:p-8 w-full bg-transparent">
    <div class="w-full flex justify-between">
        <a href="/" class="btn btn-xl btn-square shadow-xl bg-[url(/logo.jpg)] bg-cover bg-center"></a>
        <!-- <ul class="flex gap-0">
            <li><a href="#" class="btn">About Us</a></li>
            <li><a href="#" class="btn">Services</a></li>
            <li><a href="#" class="btn">Portfolio</a></li>
            <li><a href="#" class="btn">Catalog</a></li>
            <li><a href="#" class="btn">Contact Us</a></li>
            <li><a href="" class="btn btn-primary">Get a Quote!</a></li>
        </ul> -->
        <btn href="/" class="btn btn-xl btn-square shadow-xl btn-primary"><i class="ti ti-menu-2"></i></btn>
    </div>
</nav>
